<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>

<table border="1">
    <thead>
    <tr>
        <td>Model</td>
        <td>Serial</td>
        <td>Engine Capacity</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each=" car : ${cars}">
        <td th:text="${car.getModel()}">></td>
        <td th:text="${car.getSerial()}">></td>
        <td th:text="${car.getEngineCapacity()}">></td>
    </tr>
    </tbody>
</table>
</body>
</html>